*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  margin: auto;
  background-color: rgb(9, 235, 243);
}

.table{
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  table-layout: fixed;
}
.table-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 1rem solid rgb(21, 58, 59);
  text-align: center;
}
.table-items{
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: left;
  background-color: rgb(24, 170, 214);
  color:white;
}



.table-item{
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: left;
  background-color: rgb(0, 116, 131);
  color:white;
}
.table-content{
  border: 1px solid #ddd;
  padding: 1rem;
  
}

.table-content:hover{
  background-color: yellow;
}

.btn-danger{
  border: none;
  background-color: #f44336;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.7rem 1rem;
  margin: 0.2rem;
  color:white;
  text-align: center;
  cursor: pointer;

}
.btn-warning{
  border:none;
  background-color: rgb(221, 116, 18);
  font-size: 1rem;
  padding: 0.7rem 1rem;
  text-decoration: none;
  text-align: center;
  color:white;
  margin: 0.2rem;
  cursor: pointer;
}

.form-content{
  max-width: 1200px;
  margin:auto;
}

.form-item{
  width: 100%;
  background-color: rgb(9, 247, 148);
  border: 1px solid red;
  margin: 1rem;
  box-shadow: 0.2rem 0.2rem 0.1rem 0.1rem rgb(243, 83, 9);

}

.form-group{
  display: flex;
  margin: 0.6rem;
  justify-content: center;
  align-items: center;
  
}
.form-label{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 1rem 0;
  font-size: 1rem;
  padding: 1rem;
  color:rgb(221, 75, 18);
}
.form-input-div{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.form-input{
  border:none;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0.1rem 0.1rem 0.01rem 0.01rem rgb(243, 83, 9);
}
.form-btn-submit{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.form-btn{
  border: none;
  text-decoration: none;
  padding: 1rem;
  margin: 1rem;
  color:black;
  
}
.form-btn-group{
  border: none;
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(221, 116, 18);
  
}


.form-btn-group:hover{
  cursor: pointer;
  background-color: rgb(227, 243, 9);
}

.form-title{
  text-decoration: none;
  color: rgb(216, 89, 16)
}